<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password generator</title>

        <meta name="description" content="Random password generator to ensure the maximum security">

        <meta name="robots" content="index, follow">
        <meta name="theme-color" content="#09f">

        <link href="./resources/index.css" type="text/css" rel="stylesheet">
        <link rel="icon" type="image/png" href="./resources/favicon.png">

        <script type="module" src="./js/index.js"></script>
    </head>

    <body>
        <header>
            <h1>Password generator</h1>
        </header>
        <main>
            <section id="buttons">
                <button id="generate">Generate</button>
                <button id="copy">Copy</button>
                <button id="download">Download in TXT</button>
            </section>
            <section id="passwords-section">
                <textarea id="allpass" autofocus value="Your new password will appear here."></textarea>
            </section>
        </main>
        <footer>
            <small>© 2024 Password generator. All rights reserved.</small>
        </footer>
    </body>

</html>