<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password generator</title>

        <meta name="description" content="Random password generator to ensure the maximum security">

        <meta name="robots" content="index, follow">
        <meta name="theme-color" content="#09f">

        <link href="./resources/index.css" type="text/css" rel="stylesheet">
        <link rel="icon" type="image/png" href="./resources/favicon.png">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        
        <script type="module" src="./js/index.js"></script>
    </head>

    <body>
        <div class="background__image"></div>
        <header>
            <h1>Password generator</h1>
        </header>
        <main>
            <section>
            <div id="buttons">
                <button id="generate">Generate</button>
                <button id="copy">Copy</button>
                <button id="download">Download in TXT</button>
            </div>
            <div id="passwords-section">
                <pre></pre>
                <textarea id="allpass" autofocus value="Your new password will appear here."></textarea>
            </div>
            </section>
            <form>
                <label>Number of passwords: 
                    <input id="pass-qty" type="number" value="5">
                </label>
                <label>Password length: 
                    <input id="pass-length" type="number" value="20">
                </label> 
                <fieldset>Characters to include:
                    <label> 
                        <input id="char-numbers" type="checkbox" class="checkbox" checked>
                        Numbers
                    </label>
                    <label> 
                        <input id="char-lower" type="checkbox" class="checkbox" checked>
                        Lowercase characters
                    </label>
                    <label> 
                        <input id="char-upper" type="checkbox" class="checkbox" checked>
                        Uppercase characters
                    </label>
                    <label> 
                        <input id="char-symbols" type="checkbox" class="checkbox" checked>
                        Symbols <input id="spec-chars" type="text" value="!&quot;;#$%&\'()*+,-./:;&lt;=&gt;?@[]^_`{|}~">
                    </label>
                </fieldset>
            </form>
        </main>
        <footer>
            <small>© 2024 Password generator. All rights reserved.</small>
        </footer>
    </body>

</html>