* {
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: lavender;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
}

header{
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
}

main {
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

h1 {
    font-family: #09f;
    text-wrap: balance;
}
section {
    width: 100%;
    align-items: center;
}

div {
    display: flex;
    padding: 10px;
    float:inline-start;
}

#buttons{
    align-items:flex-end;
    flex-direction: column;
}

button {
    background-color: #e5e1f4;
    border-radius: 3px;
    border: 1px solid #9a7ac7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #6d399d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 5px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    width: 150px;
}

button:hover,
button:focus {
    background-color: #d0b3ea;
    color: #622c77;
}

button:focus {
    box-shadow: 0 0 0 4px rgba(136, 0, 255, 0.15);
}

button:active {
    background-color: #afa0e4;
    box-shadow: none;
    color: #532c77;
}

#passwords-section {
    border-color: #cda4ff;
    border-style: dashed;
    height: 220px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

pre{
    width: 2em;
    text-align: right;
    overflow: hidden;
    background-color: #c8c3d4;
    padding-right: 5px;
}

textarea{
    border: none;
    min-height: 10em;
    width: 450px;
    cursor: text;
    resize:none;
    white-space: pre;
    overflow-wrap: normal;
}

textarea:focus-visible{
    outline: none;
}

form{
    display: block;
    margin: 15px;
    text-align: left;
    color: #6d399d;
}

label{
    display: block;
    width: fit-content;
    margin-bottom: 5px;
    margin-top: 5px;
}

fieldset{
    border: 0;
}

fieldset label{
    margin-left: 15px;
}

input {
    border-color: #cda4ff;
    border-style: dashed;
    border-radius: 5px;
    padding-left: 5px;
}

#spec-chars {
    width: 220px;
}

.checkbox{
    background-color: #6d399d;
}

footer{
    position:absolute;
    bottom:0;
    text-align: center;
    width: 100%;
    float:left;
    height: 30px;
}