* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    width: 800px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
  }

header{
    padding: 20px;
    position: relative;
    width: 100%;
    text-align: center;
}

main {
    padding-bottom: 30px;
    margin: auto;
}

h1 {
    font-weight:700;
    text-wrap: balance;
    color: #000000;
}

section {
    width: 100%;
    align-items: center;
}

div {
    display: flex;
    padding: 10px;
    float:inline-start;
}

#buttons{
    align-items:flex-end;
    flex-direction: column;
}

button {
    background-color: #e4e3e3;
    border-radius: 3px;
    border: 1px solid #ccc4c4;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    line-height: 1.15385;
    margin: 5px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    width: 150px;
}

button:hover,
button:focus {
    background-color: #dcd4d4;
    color: #afafaf;
}

button:focus {
    box-shadow: 0 0 0 4px rgba(0, 38, 255, 0.15);
}

button:active {
    background-color: #7da0e0;
    box-shadow: none;
    color: #3a2c77;
}

#passwords-section {
    height: 220px;
    border-radius: 5px;
    display: flex;
    gap: 0.5em;
}

pre{
    width: 2em;
    text-align: right;
    overflow: hidden;
    padding-right: 5px;
}

textarea{
    border: none;
    min-height: 10em;
    width: 500px;
    cursor: text;
    resize:none;
    white-space: pre;
    overflow-wrap: normal;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    padding-left: 5px;
    background-color: #e4e3e3;
}

textarea:focus-visible{
    outline: none;
}

form{
    display: block;
    margin: 15px;
    text-align: left;
    color: #000000;
}

input {
    font-weight: 400;
    font-size: 15px;
    background-color: #e4e3e3;
}

label{
    display: block;
    width: fit-content;
    margin-bottom: 5px;
    margin-top: 5px;
}

fieldset{
    border: 0;
}

fieldset label{
    margin-left: 15px;
}

input {
    border-style: none;
    border-radius: 5px;
    padding-left: 5px;
}

#spec-chars {
    width: 220px;
}

label[type="checkbox"]{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

footer{
    position:absolute;
    bottom:0;
    text-align: center;
    width: 100%;
    float:left;
    height: 30px;
    color: #919191;
}